.wrapper {
    --search-button-width: 52px;
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search, .searchResult {
     width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .searchBtn{
        color: rgba(22, 24, 35, 0.75);

    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

}

// .searchResult {
//     padding-top: 8px;
// }

.searchTitle {
    color: rgba(22, 24, 35, 0.5);
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.searchBtn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;    
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
     &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
    

}


